
<!--
 <div *ngFor="let item of listaPrimos">
    {{item + " "}}
 </div>
-->
<!--
<br>
<br>
 <div class="btn-group">
    <button>{{listaAleatorios[0]}}</button>
    <button>{{listaAleatorios[1]}}</button>
    <button>{{listaAleatorios[2]}}</button>
    <button>{{listaAleatorios[3]}}</button>
    <button>{{listaAleatorios[4]}}</button>
   <tr>
    <button>{{listaAleatorios[5]}}</button>
    <button>{{listaAleatorios[6]}}</button>
    <button>{{listaAleatorios[7]}}</button>
    <button>{{listaAleatorios[8]}}</button>
    <button>{{listaAleatorios[9]}}</button>
   
    <button>{{listaAleatorios[10]}}</button>
    <button>{{listaAleatorios[11]}}</button>
    <button>{{listaAleatorios[12]}}</button>
    <button>{{listaAleatorios[13]}}</button>
    <button>{{listaAleatorios[14]}}</button>
    
    <button>{{listaAleatorios[15]}}</button>
    <button>{{listaAleatorios[16]}}</button>
    <button>{{listaAleatorios[17]}}</button>
    <button>{{listaAleatorios[18]}}</button>
    <button>{{listaAleatorios[19]}}</button>
    
    <button>{{listaAleatorios[20]}}</button>
    <button>{{listaAleatorios[21]}}</button>
    <button>{{listaAleatorios[22]}}</button>
    <button>{{listaAleatorios[23]}}</button>
    <button>{{listaAleatorios[24]}}</button>
    
</div>
-->
<br>
<br>
<div style="text-align: center">
  <button mat-raised-button (click) ="presionar0()" class ="casilla">{{estadoBoton0}}</button>
  <button mat-raised-button (click) ="presionar1()" class ="casilla">{{estadoBoton1}}</button>
  <button mat-raised-button (click) ="presionar2()" class ="casilla">{{estadoBoton2}}</button>

  
  
    
</div>

<br>
<br>

